@charset "utf-8";
/* CSS Document */
* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

.banner{
	width: 100%;
	height: 650px;
	background-image: url("../img/photo(11).webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -230px;
	display: flex;
	justify-content: space-between;
}
.nav{
	width: 100%;
	height: 90px;
	line-height: 90px;
	font-size: 26px;
	display: flex;
	justify-content: space-between;
	background-color:crimson;
	padding:0px 10%;
}
.nav .as{
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-between;	
} 

.nav h2{
	color: white;
	text-shadow: 3px 2px 3px #a5c560;
}
.nav .as a {
	text-align: center;
	width: calc(100% / 5);
	text-decoration: none;
	color: white;
}
.main{
	width: 80%;
	height: 450px;
	margin: 70px 10%;
	display: flex;
	justify-content: space-between;
	background-color: ghostwhite;
}
.main img{
	width: 49%;
	height: 100%;
	object-fit: cover;
}

.main .contents{
	font-size: 20px;
	padding: 20px 50px;
}

.main .contents h3{
	float: left;
	color: orangered;
}

.main .contents p{
	margin: 40px 0px;
	text-indent: 2em;
}

.title {
	width: 40%;
	height: 60px;
	line-height: 60px;
	margin: 30px 30%;
	border-bottom: 8px solid crimson;
	font-size: 40px;
	text-align: center;
	padding: 20px 0px;
	color: black;
}

.photo {
	width: 70%;
	height: 560px;
	background-color: tomato;
	margin: 30px 15%;
	display: flex;
	justify-content: space-between;
		
}
.photo img{
	width: calc(100% /5);
}
.photo img:hover{
	transition: all .3s;
	width: calc(100%/4);
	display: flex;
	justify-content: space-between;
}

.footer {
	width: 100%;
	height: 120px;
	line-height: 120px;
	background-color: crimson;
	color: white;
	display: flex;
	padding: 0px 10%;
	font-size: 23px;
	justify-content: space-between;
}




